body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
}


#title{


     text-shadow: 0px 0px 4px rgb(189, 15, 15); 
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
    cursor:pointer;
}
.btn:hover{

    background: #82a5ca;
}


.underline {
    border-bottom: 4px solid white;
}
   